

{% extends "basehtml.html" %}

{% block content  %}
<h1>{{msg}}</h1>
<form action="/index" method="POST" >
<!--<form action="/index" method="POST" >-->
    <div style="text-align: center;"><label for="text">OSSUM</label><br><br>
        <input type="submit" name="ReFUTER" value="ReFUTER"><br><br>
        <input type="submit" name="Rada" value="Rada"><br><br>
        <input type="submit" name="Consolidated ALS" value="Consolidated ALS"><br><br>
        <input type="submit" name="Uploads" value="Uploads"><br><br>
    </div>

</form>

{% endblock %}





