{% extends "basehtml.html" %}

{% block content  %}


<form action="/data" method="POST" >
    <div style="text-align: left;"><label for="text">CDDRA Benchmarks</label>
    <br><br><label for="text">Startup studies per year - Rave</label>
    <input name="text1submit
"  value = 80>

    <label for="text">Conduct studies per year - Rave</label>
    <input name="text2" name = "Conduct studies per year - Rave" value = 240>
    <br><br><label for="text">Conduct studies per year - OCRDC</label>
    <input name="text3" name = "Conduct studies per year - OCRDC" value = 62>

    <label for="text">Conduct studies per year - Outsourced</label>
    <input name="text4" name = "Conduct studies per year - Outsourced" value = 15>
    <br><br><label for="text">Conduct studies per year - NOVDD and paper</label>
    <input name="text5" name = "Conduct studies per year - NOVDD and paper" value = 10>

    <label for="text">Locked studies per year</label>
    <input name="text6" name = "Locked studies per year" value = 40>
    <br><br><label for="text">PPCs per year - Rave</label>
    <input name="text7" name = "PPCs per year - Rave" value = 500>

    <label for="text">SU efforts by CDD per study</label>
    <input name="text8" name = "SU efforts by CDD per study" value = 621.5>
    <br><br><label for="text">SU efforts by DAP per study</label>
    <input name="text9" name = "SU efforts by DAP per study" value = 162.5>

    <label for="text">SU efforts DRRA per study</label>
    <input name="text10" name = "SU efforts DRRA per study" value = 942>
    <br><br><label for="text">SU efforts DRRA per study</label>
    <input name="text11" name = "SU efforts DRRA per study" value = 240>

    <label for="text">Efforts per PPC by PPC team - Rave</label>
    <input name="text12" value = 77>
    <br><br><label for="text">Efforts per PPC by CF team - Rave</label>
    <input name="text13" value = 33>


    <label for="text">Efforts per PPC by PPC team - Outsourced per study per month</label>
    <input name="text14" value = 2>
    <br><br><label for="text">Efforts per PPC by PPC team - NOVDD and paper per study per month</label>
    <input name="text15"  value = 6>

    <label for="text">Efforts per RF PPC by RF team</label>
    <input name="text16" value = 29>
    <br><br><label for="text">Efforts per RF update per DTS by RF team</label>
    <input name="text17"  value = 4>

    <label for="text">Efforts per RF update (non PPC) by RF team</label>
    <input name="text18"  value = 20>
    <br><br><label for="text">Efforts per conduct study per month by DAP - OCRDC</label>
    <input name="text19" value = 10>

    <label for="text">Efforts per conduct study per month by DAP - Rave </label>
    <input name="text20"  value = 12.5>
    <br><br><label for="text">Efforts per conduct study per month by DAP - Outsourced</label>
    <input name="text21" value = 3>

    <br><br><label for="text">Project level efforts by CDD - Rave Admin per month</label>
    <input name="text22"  value = 133.33>
    <br><br><label for="text">Project level efforts DRRA per month</label>
    <input name="text23" value = 2580><br><br>

    </div>
    <input type="submit"><br><br><br><br>

        <a href="/">Go to Home</a>
</form>

<!--<form CLASS="" action="data" method="GET">-->
<!--    <input type="text" name="Upload" value="">-->
<!--    <input type="file" name="Upload" value="">-->
<!--    <input type="submit" name="" value="Submit">-->

<!--</form>-->

{% endblock   %}
