{% extends "basehtml.html" %}

{% block content  %}


<head>
    <meta charset="UTF-8">
    <title>download link</title>
    <div class="container" align="left">
		<a href="/consolidated-file/" target="blank"><button class='btn btn-default'>consolidated-file</button></a>
		<a href="/consolidated-file_study/" target="blank"><button class='btn btn-default'>consolidated-file_study</button></a>
		<a href="/consolidated-file_cast/" target="blank"><button class='btn btn-default'>consolidated-file_cast</button></a>
		<a href="/consolidated-file_studysum/" target="blank"><button class='btn btn-default'>consolidated-file_studysum</button></a>
        <a href="/">Go to Home</a>
    </div>
<!--    <title>{{data}}</title>-->
</head>
<body>

</body>

{% endblock   %}
